html,
body {
    /* padding: auto; */
    width: 100%;
    /* margin: auto; */
    align-items: center;
    background-color: white;
}

.link {
    display: flex;
    align-items: cover;
    cursor: pointer;
    border-radius: 30px;
}

.link:hover {
    background-color: #e8f5fe;
    color: #50b7f5;
    transition: color 100ms ease-out;
    /* move left */
    /* transform: translateX(-50px); */
}

.link>h2 {
    font-weight: 700;
    font-size: 20px;
    margin-right: 20px;
}

.sidebar {
    width: 250px;
    min-width: 200px;
    padding: 20px 20px;
    margin: 20px auto 0 auto;
    box-shadow: 0 0 6px hsl(210 14% 90%);
    border-color: black;
}