# Python
.venv/
**/__pycache__
*.pyc



# Environment
.env
.env*

# Database
*.sqlite3

# Django
staticfiles/

# Frontend
frontend/node_modules/
frontend/static/frontend/
node_modules/

# OS
.DS_Store
**/.DS_Store
.vscode/

# Data / scripts
data/
data.json
csv_data_add.py
staticfiles_issue.txt
