<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>19 Khari Baoli Order Here</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/19_favicon.ico' %}">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% comment %} <link rel = "stylesheet" href = "https://fonts.googleapis.com?family=Roboto:300,400,500,700&display=swap"/> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css"> {% endcomment %}
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/index.css' %}"/>
</head>
<body>
    <div id = "main">
        <div id = "app"></div>
    </div>
    <script src = "{% static 'frontend/main.js' %}"></script>
</body>
</html>