<!DOCTYPE html>
<html>
  <head>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-LTPTP5WVMK"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-LTPTP5WVMK");
    </script>
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8180237121618710"
      crossorigin="anonymous"
    ></script>
    <meta charset="utf-8" />
    <meta name="description" content="Kirana Shop for Dal Chawal Masale and more, since 1914, Khari Baoli, Chandni Chowk, New Delhi, Delhi, India 110006" />
    <meta name="keywords" content="Dal, Chawal, Masale" />
    <meta property="og:title" content="19 Khari Baoli Order Here" />
    <meta property="og:description" content="Kirana Shop for Dal Chawal Masale and more, since 1914, Khari Baoli, Chandni Chowk, New Delhi, Delhi, India 110006" />
    <title>19 Khari Baoli Order Here</title>
    {% load static %}
    <meta property="og:image" content="{% static 'images/19_favicon.ico' %}" />
    <link rel="icon" href="{% static 'images/19_favicon.ico' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% comment %}
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com?family=Roboto:300,400,500,700&display=swap"
    />
    {% endcomment %} {% comment %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css" />
    {% endcomment %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/index.css' %}"
    />
    {% comment %}
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'images/apple-touch-icon.png' %}"
    />
    {% endcomment %}
    <link
      rel="apple-touch-icon"
      href="{% static 'images/apple-touch-icon-iphone-60x60.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{% static 'images/apple-touch-icon-ipad-76x76.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="{% static 'images/apple-touch-icon-iphone-retina-120x120.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="{% static 'images/apple-touch-icon-ipad-retina-152x152.png' %}"
    />
    <!-- Google tag (gtag.js) -->
  </head>
  <body>
    <div id="main">
      <div id="app"></div>
    </div>
    <script src="{% static 'frontend/main.js' %}"></script>
  </body>
</html>
